<h1>Welcome</h1>
<p>
	This is the landing page for Angelo's Blog, a Angelo's Blog blog made using Ruby on Rails.
</p>

<p>
	This page is just a placeholder. Later, we'll replace it with the posts in our blog.
</p>
